
<section class="container">
    <br><br><br><br>
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-success">We received your mail.</h2>
            <h3>Thanks for contacting with us.</h3>
        </div>
    </div>
    <br><br><br>
    <div class="row ">
        <div class="col-md-6 text-md-end text-center">
            <a href="{{request.META.HTTP_REFERER}}">
                <div class="btn btn-primary">Back</div>
            </a>
        </div>
        <div class="col-md-6 mt-3 mt-md-0 text-md-start text-center">
            <a href="/">
                <div class="btn btn-primary">Home</div>
            </a>
        </div>
    </div>
</section>